li{ position: relative;
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 200px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
    margin: 0 16px 16px 0;
    border-radius: 4px;
    overflow: hidden;
}
.id{
    position: absolute;
    right: 4px;
    top: 2px;
}
.name{
    display: flex;
    flex-direction: column;
    font-size: 2em;
    text-align: center;
    flex: 1;
    border-style: dotted;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: row;
}
button{
    justify-content: center;
    width: 100px;
    height: 30px;
    display: flex;
}

.green{
    background-color: lightgreen;
}
.red{
    background-color: lightcoral;
}
